## 02_Python基础（元组、字典、集合）

### 填空题（10个）

根据题干要求，给出输出结果。

#### 元组

##### 题目 01-01

In [ ]:
tuple1 = (1, 2, 3, 4, 5)
print(tuple1[2])

tuple2 = ('a', 'b', 'c', 'd')
print(tuple2[-1])

tuple3 = (10, 20, 30, 40, 50)
element = tuple3[2:4]
print(element)
total = sum(tuple3)
print(total)

##### 题目 01-02

In [ ]:
tuple4 = (5, 10, 15, 20, 25)
even_numbers = filter(lambda x: x % 2 == 0, tuple4)
print(list(even_numbers))

tuple5 = ('apple', 'banana', 'cherry')
first_letter = map(lambda x: x[0], tuple5)
print(list(first_letter))

##### 题目 01-03

In [ ]:
test_list1 = ['a','b','c']
test_list2 = ('x','y','z')

print(tuple(test_list1))
print(list(test_list2))

test_list1[0] = '哈吉米'
# test_list2[0] = '哈吉米'

print(test_list1)
print(test_list2)

#### 字典

##### 题目 01-04

In [ ]:
my_dict = {'a': 1, 'b': 2, 'c': 3}
print(my_dict['b'])
# print(my_dict['666'])

my_dict = {
    'name': 'Alice', 
    'age': 25
}
print(my_dict.get('知识学爆', "雪豹"))

##### 题目 01-05

In [ ]:
my_dict = {'a': 1, 'b': 2, 'c': 3}
print(list(my_dict.items()))
print(list(my_dict.keys()))
print(list(my_dict.values()))

##### 题目 01-06

In [ ]:
my_class = {
    '10000': {'name': 'Alice', 'age': 18},
    '10001': {'name': 'Bob', 'age': 19},
}

print(my_class)

new_stu = {'name': 'Cindy', 'age': 20}

my_class['10002'] =  new_stu
print(my_class)

del my_class['10000']
print(my_class)

new_stu['age'] = 21
print(my_class)

#### 集合

##### 题目 01-07

In [ ]:
set1 = {1, 2, 3, 4, 5}
set2 = {4, 5, 6, 7, 8}
print(set1 & set2)

set1 = {1, 2, 3}
set2 = {3, 4, 5}
print(set1 | set2)

set1 = {1, 2, 3}
set2 = {2, 3, 4}
print(set1 - set2)

set1 = {1, 2, 3, 4}
set2 = {3, 4, 5, 6}
print(set1 ^ set2)

set1 = {1, 2, 3}
set2 = {3, 4, 5}
set3 = {5, 6, 7}
common_elements = set1 & set2 & set3
print(common_elements)

##### 题目 01-08

In [ ]:
set1 = {1, 2, 4, 8}
set2 = {4, 8, 16, 32}
print(set1.symmetric_difference(set2))

set_example = {1, 3, 5, 7, 9}
subset = {1, 3}
print(subset.issubset(set_example))
print(subset < set_example)
print(subset <= set_example)

##### 题目 01-09

In [ ]:
numbers1 = [x**2 for x in range(10)]
print(numbers1)
print()

numbers2 = (x**2 for x in range(10))
print(numbers2)
print(list(numbers2))
print()

numbers3 = {x**2 for x in range(10)}
print(numbers3)
print(sorted(numbers3))
print()

numbers4 = {x:x**2 for x in range(10)}
print(numbers4)
print(list(numbers4.values()))
print()

##### 题目 01-10

In [ ]:
# 定义一个字符串
text = "The quick brown fox jumps over the lazy dog"

# 使用字典来计算文本中每个单词出现的次数
word_counts = {}
for word in text.split():
    word = word.lower()  # 转换为小写
    word_counts[word] = word_counts.get(word, 0) + 1

# 找出出现次数最多的单词
most_common_word = max(word_counts, key=word_counts.get)

print(f"出现次数最多的单词是: '{most_common_word}'，出现了 {word_counts[most_common_word]} 次")

### 编程题（2个）

根据题干要求，编写完整代码（可以尝试一题多解）。

##### 题目 01-11

2023年天津市高考数学第一题

已知集合 $U=\{1,2,3,4,5\}$,  $A = \{1,3\}$,  $B = \{1,2,4\}$, 则  $C_{U} B \cup A =$

In [ ]:
# 已知集合
U = {1, 2, 3, 4, 5}
A = {1, 3}
B = {1, 2, 4}

# now, code it by yourself ↓

# 定义集合 U, A, B

# 计算集合U关于集合B的补集 C_{U}B

# 计算 C_{U}B 和 A 的并集

# now, code it by yourself ↑

# 打印结果
print(f"Answer = {result}")

##### 题目 01-12

编写一个程序，完成如下成绩输出。

In [ ]:
student_scores = {
    'Alice': 90,
    'Bob': 94,
    'Charlie': 96,
    'David': 94
}

# now, code it by yourself ↓


# now, code it by yourself ↑

print(f"学生名单: {students}")
print(f"平均分: {average_score:.2f}")
print(f"分数最高的学生是: {highest_score}，分数为: {highest_score_value}")